@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #f0d03b;
    --color-primary-dull: #f2c90e;
}